@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #7AB2B2;
    --primary-color: #EEF7FF;
    --alternative-1: #570A57;
    --alternative-2: #F806CC;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
}