@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #6F61C0;
    --primary-color: #D5FFE4;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-size: 50px;
}