@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #2E0249;
    --primary-color: #A91079;
    --alternative-1: #570A57;
    --alternative-2: #F806CC;
}